body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #fff;
    border: #232323 1px solid;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 400px;
}

.display-container {
    display: flex;
    align-items: stretch !important;
    margin-bottom: 10px;
}

.display {
    flex: 1;
    background-color: #232323;
    color: #fff;
    font-size: 1.51em;
    align-items: center;
    padding: 10px !important;
    text-align: left;
    border-radius: 5px;
    overflow-x: auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

button {
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #e0e0e0;
}

.operator {
    background-color: #ff9500;
    color: #fff;
    font-weight: bold;
}

.operator:hover {
    background-color: #e68a00;
}

.equals {
    background-color: #2196F3;
    color: #fff;
}

.equals:hover {
    background-color: #1976D2;
}

.clear {
    background-color: #f44336;
    color: #fff;
}

.clear:hover {
    background-color: #d32f2f;
}

#back-space {
    font-weight: bold !important; 
    padding: 10px;
    width: 50px;
    margin-left: 5px;
}
